<style>
    #logoutbtn {
      position:fixed;
        top:8px;
        right:40px;
        z-index:9999;
    }
    .navtop{
        position:fixed;
        top:0px;
        left:350px;
        z-index:9999;

    }
    a{
        color:#a3a3a3;
    }
</style>

<div ng-controller='rootController'>
    <div class="navtop navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#account">Account</a></li>

            </ul>
        </div>
    <div id="logoutbtn"><button type="button" class="btn " ng-hide="isLoggedIn" ng-click="logout()">logout</button></div>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">

        <div class="container">
           You are signed in.



        </div>
    </div>

    <div class="container">

        <!-- Example row of columns
        <div class="row">
          <div class="col-lg-4">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
       </div>
        <div class="col-lg-4">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
        </div>
      </div>
      -->

        <hr>


    </div> <!-- /container -->
</div>